.w100{
    width: 100%;
}
.w1440{
    width: 1440px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

/* header start */
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.header_wrap{
    justify-content: space-between;
    align-items: center;
    background-color: #0B0600;
}
.mus_info{
    padding: 20px 100px 20px 340px;
}
.mus_info span{
    font-size: 15px;
    line-height: 18px;
    color: #FFCB13;
    font-weight: 800;
    margin: 0 15px;
}
.mus_info p{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    line-height: 18px;
}
.reserve{
    background-color: #FFB800;
    padding: 20px 60px;
}
.reserve p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

nav{
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 15px 100px;
}
nav>ul>li{
    padding: 0 25px;
    font-size: 20px;
    font-weight: 800;
}
nav>ul>li>a{
    color: #000;
}
nav>ul>li>a::after{
    content: '';
    display: block;
    width: 4px; height: 4px;
    background-color: #000;
    opacity: 0.25;
    border-radius: 50%;
    position: absolute;
    bottom: 28%;
}
nav>div>a{
    display: inline-block;
    padding-right: 30px;
}


/* main start */
/* sec1 */
.sec1{
    padding-top: 50px;
    position: relative;
}
.search{
    border-bottom: 3px solid #000;
    padding: 10px 100px;
    width: 446px;
    height: 48px;
    margin: 0 auto;
}
.search input{
    border: none;
    background: none;
    outline: none;
}
.search_btn{
    background-color: #000;
    border-radius: 50%;
    background-image: url(../img/eheqhrl.svg);
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    padding: 1px 6px;
}
.has_wrap{
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.hastag{
    width: 446px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
}
.has_icon>a>img{
    border: 1px solid #000;
    background-color: #fff;
    width: 20px;
    height: 20px;
    padding: 1px;
}
.weather{
    position: absolute;
    right: 0;
    top: 140px;
}
.weather>ul{
    justify-content: center;
    align-items: center;
}
.weather li{
    font-size: 14px;
    font-weight: 700;
}
.blue{
    color: #1D519D;
}

/* sec2 start */
.sec2>article{
    max-width: 1422px;
    height: 608px;
    overflow: hidden;
    position: relative;
}
.sl_btn{
    position: absolute;
    bottom: 0;
    right: 0;
}
.sl_btn ul{
    justify-content: center;
    align-items: center;
}
.sl_btn li{
    width: 70px;
    height: 70px;
    background-color: rgba(0,0,0,0.4);
    padding: 27px;
} 
.sl_btn li:nth-child(2){
    background-color: #000;
}

/* sec3 start */
.sec3{
    padding: 100px 0;
    justify-content: space-between;
}
.mus_board_wrap{
    width: 70%;
    padding-right: 80px;
}
.board_menu{
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #000;
}
.board_menu>h2{
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.45px;
    font-weight: 800;
    padding-top: 29px;
    padding-bottom: 27px;
}
.board_menu>ul{
    gap: 40px;
}
.board_menu>ul>li a{
    color: #888;
    font-size: 27px;
    font-weight: 600;
}
.board_menu>ul>li:first-child a{
    color: #DD1227;
}
.plus_btn{
    display: inline-block;
    background-image: url(../img/plus.svg);
    width: 36px;
    height: 36px;
}
.board_item{
    gap: 54px;
}
.board_item>div{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 54px);
}
.board_item>div>h3{
    font-size: 20px;
    color: #231f20;
    line-height: 130%;
    height: 52px;
}
.board_item>div>p{
    font-size: 15px;
    line-height: 146%;
    height: 44px;
    letter-spacing: -0.15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.important{
    background-color: #2C354E;
}
.important>strong{
    display: inline-block;
    color: #fff;
    font-size: 27px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.27px;
}
.important a{
    color: #fff;
}


/* popup start */
.popup a{
    box-shadow: 3px 10px 25px 0px rgba(0, 0, 0, 0.10);
}

