:root{
    --main-yellow: #FFB800;
    --main-red: #DD1227;
    --main-blur: #002078;
}
.w1420{
    max-width: 1420px;
    margin: 0 auto;
}
.w100{
    width: 100%;
}

.flex{
    display: flex;
}
/* info start */
.information{
    justify-content: end;
    align-items: center;
    background-color: #0b0000;
    height: 60px;
}
.information li{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    padding: 0 32px;
    letter-spacing: -2px;
}
.information span{
    font-weight: 800;
    color: var(--main-yellow);
    padding-right: 15px;
}
.total_res>a{
    display: block;
    width: 250px;
    background-color: var(--main-yellow);
    text-align: center;
    line-height: 60px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.total_res .icon{
    display: inline-block;
    width: 19px; height: 11px;
    background-image: url(../img/check.svg);
    margin: 5px;
}
.total_res>a:hover>.icon{
    background-image: url(../img/downloadr.svg);
}
/* header start */
header{
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #eee;
}
nav{
    padding-right: 30px;
}
nav a{
    display: block;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 800;
    color: #000;
    letter-spacing: -1px;
    margin: 0 32px;
    position: relative;
}
nav a::after{
    display: block;
    content: '';
    width: 0; height: 2px;
    background-color: var(--main-red);
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
nav a:hover::after{
    width: 100%;
}
nav li{
    position: relative;
}
nav li + li::before{
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    /* top: 50%;
    transform: translateY(-50%);
    이렇게해도되고 칼크를 쓰면 아래처럼 */
    top: calc(50% - 2px);
    /* 2px: 높이의 반 뺴주면 된다 */
}
.util_wrap{
    align-items: center;
}
.util_wrap a{
    text-indent: -99999px;
    display: block;
    margin-left: 28px;
}
.lang_btn a{
    width: 26px; height: 26px;
    background-image: url(../img/lang.svg);
}
.lang_btn a:hover{
    background-image: url(../img/langr.svg);
}
.ham_btn a{
    width: 23px; height: 21px;
    background-image: url(../img/hambtn.svg);
}
.ham_btn a:hover{
    background-image: url(../img/hamr.svg);
}


/* main start */
main{
    width: 100%;
    overflow: hidden;
}
.main_top{
    padding-top: 50px;
}
.search_wrap{
    width: 446px;
    margin: 0 auto;
}
.search{
    border-bottom: 3px solid #000;
    justify-content: space-between;
}
.search input{
    border: none;
    background: none;
    outline: none;
    line-height: 48px;
}
.search .search_btn{
    width: 38px; height: 38px;
    background-color: #000;
    background-image: url(../img/eheqhrl.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0px 3.24px 8px rgba(0,0,0,0.25);
    cursor: pointer;
}

.search .search_btn:hover{
    background-color: var(--main-red);
}
.hash_wrap{
    padding-top: 11px;
    justify-content: space-between;
}

.hashtag a{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    padding: 0 7px;
}
.hashtag a:hover{
    color: var(--main-red);
}
.controller>li{
    width: 22px; height: 22px;
    border: 1px solid #000;
    border-left: none;
    background-position: center;
    background-repeat: no-repeat;
}
.controller>li:first-child{
    border-left: 1px solid #000;
}
.controller .prev{
    background-image: url(../img/left\ arrow.svg);
}
.controller .pause{
    background-image: url(../img/stop.svg);
}
.controller .next{
    background-image: url(../img/right\ arrow.svg);
}
.controller .prev:hover{
    background-image: url(../img/download\ \(2\).svg);
}
.controller .pause:hover{
    background-image: url(../img/download\ \(3\).svg);
}
.controller .next:hover{
    background-image: url(../img/download\ \(1\).svg);
}
/* sec1 start */
.sec1{
    margin-top: 31px;
}

.slide_box{
    position: relative;
}

.weather{
    position: absolute;
    right: 10px;
    bottom: 100%;
    align-items: center;
}
.weather .w_item{
    color: #222;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.14px;
    align-items: center;
}
.weather .w_item>span{
    display: inline-block;
    width: 43px; height: 50px;
    background-image: url(../img/w-icon4.png);
}
.weather .w_item::after{
    display: block;
    content: '';
    width: 1px; height: 12px;
    background-color: #ccc;
    margin: 0 8px;
}
.w_dust{
    font-size: 14px;
    font-weight: 700;
    color: var(--main-blur);
}
.w_temp{
    font-size: 20px;
    color: #666;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin:0 18px;
}
.w_icon{
    width: 95px; height: 88px;
    background-image: url(../img/w-ch3.png);
}
.slide_controll{
    width: 210px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.slide_controll>div{
    width: 70px; height: 70px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}
.slide_pause{
    position: absolute;
    right: 70px;
    bottom: 0;
    text-align: center;
    padding-top: 10px;
}
/* sec1 swiper */
.swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: unset;
  }

  .swiper-slide img {
    display: inline-block;
    width: 1420px;
    height: 100%;
  }

  .mySwiper .swiper-slide-prev,.mySwiper .swiper-slide-next{
    opacity: 0.5;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    display: none;
  }
/* sec2 */
.sec2{
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 10px;
}
.sec2>article{
    width: calc(100% - 84px - 395px);
}

.notice{
    justify-content: space-between;
    padding-bottom: 27px;
}
.notice>h2{
    font-size: 42px;
    font-weight: 800;
    color: #000;
    letter-spacing: -0.45px;
    align-items: center;
}
.noti_list{
    align-items: center;
}
.noti_list li{
    font-size: 27px;
    font-weight: 600;
    color: #888;
    position: relative;
    padding: 0 20px;
}
.list_dots>.active{
    color: var(--main-red);
}
.list_dots>li + li::before{
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2.5px);
    left: -5px;
}
.more_plus{
    width: 36px;
    height: 36px;
    background-image: url(../img/plus.svg);
    transition: 0.6s;
}
.more_plus:hover{
    background-image: url(../img/download\ \(9\).svg);
    transform: rotate(90deg);
}
.noti_txt{
    height: 100%;
    gap: 54px;
    padding-top: 48px;
    border-top: 2px solid #000;
}
.noti_txt li{
    flex: 1;
}
.noti_txt li:hover h3{
    text-decoration: underline;
}
.noti_txt h3{
    color: #231f20;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.noti_txt p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 16px;
}
.noti_txt div{
    color: #999;
    font-size: 15px;
    letter-spacing: -0.15px;
    font-weight: 400;
    height: 44px ;
    margin-top: 52px;
}
.popup_wrap{
    position: relative;
    box-shadow: 3px 10px 25px 0px rgba(0, 0, 0, 0.10);
}
.popup_wrap>div{
    font-size: 0;
}
.popup_zone{
    position: absolute;
    width: 17px;
    height: 136px;
    background-image: url(../img/download.svg);
    top: 0;
    right: -30px;
}
.service_wrap{
    width: calc(100% - 84px - 395px);
    margin-top: -160px;
    height: 160px;
    background-color: #2C354E;
    background-image: url(../img/download\ \(7\).svg);
    background-repeat: no-repeat;
    background-position: 34px 0;
    align-items: center;
}
.service_wrap>h3{
    width: 195px;
    font-size: 27px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.27px;
    text-align: right;
}
.service_wrap>ul{
    width: calc(100% - 190px);
}
.service_wrap>ul>li{
    width: 25%;
}
.service_wrap>ul>li+li{
    border-left:1px dashed rgba(255,255,255,0.3);
}
.service_wrap a{
    display: block;
    width: 100%;
    height: 73px;
    padding-top: 57px;
    background-repeat: no-repeat;
    background-position: center top;
}
.service_wrap p{
    color: #fff;
    text-align: center;
}
.ser_icon1>a{
    background-image: url(../img/download\ \(6\).svg);
}
.ser_icon2>a{
    background-image: url(../img/cyber.svg);
}
.ser_icon3>a{
    background-image: url(../img/download\ \(4\).svg);
}
.ser_icon4>a{
    background-image: url(../img/download\ \(5\).svg);
}
/* sec3 */
.sec3{
    background: linear-gradient(90deg, #FCF8F8 11.09%, #F9F9FE 100%);
    padding: 30px 50px;
}
.calendar{
    justify-content: space-between;
    align-items: center;
}
.today>h3{
    font-size: 85px;
    font-weight: 800;
    text-align: center;
}
.today>p{
    font-size: 23px;
    font-weight: 300;
    margin-top: 5px;
    letter-spacing: -4px;
}
.cal_days{
    align-items: center;
}
.cal_days .prev{
    background-image: url(../img/arorww.svg);
    width: 18px;
    height: 32px;
    margin: 0 30px;
}
.cal_days .next{
    background-image: url(../img/arroww.svg);
    width: 18px;
    height: 32px;
    margin: 0 30px;
}
.date_wrap li{
    padding: 0 16px;
}
.date_wrap div{
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #222;
}
.date_wrap p{
    font-weight: 400;
}
.date_wrap .date_blue{
    color: #2A52B9;
}
.date_wrap .date_red{
    color: #ED1A3B;
}
.date_wrap span{
    color: #BB5B00;
}
.event_btn{
    border:1px solid rgba(0, 0, 0, 0.30);
    color: #000;
    font-size: 20px;
    font-weight: 600;
    width: 182px;
    height: 60px;
    align-items: center;
    padding-left:25px ;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: -3px;
}
.event_btn>span{
    display: block;
    background-image: url(../img/small\ plus.svg);
    width: 20px;
    height: 20px;
    margin-left: 22px;
    transition: 0.3s;
}
.event_btn:hover{
    background-color: #000;
    color: #fff;
}
.event_btn:hover span{
    background-image: url(../img/smallplusw.svg);
}

/* sec4 start */
.sec4{
    justify-content: space-between;
    position: relative;
}
.sec4>div{
    width: 395px;
    height: 556px;
    align-items: center;
    box-shadow: 3px 10px 25px 0 rgba(0,0,0,0.1);
}
.sec4>div>img{
    width: 100%;
}
.sec4>article{
    width:calc(100% - 450px) ;
}
/* .more_plus{
    visibility: hidden;
} */
.edu_cul_list{
    position: relative;
}
.edu_cul_list>div{
    display: inline-block;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    min-width: 92px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}
.edu_cul_list>h4{
    font-size: 20px;
    font-weight: 700;
    color: #222;
}
.edu_cul_list>p{
    font-size: 14px;
    font-weight: 400;
    color: #444;
}
.edu_cul_wrap>li>a{
    padding: 29px 0;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    transition: 0.2s;
}
.edu_cul_wrap>li:hover>a{
    border-bottom: 1px solid #000;
}
.edu_cul_list_wrap{
    width: calc(100% - 114px);
    justify-content: space-between;
}
.box{
    width: 94px;
    height: 94px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 94px;
    font-size: 24px;
}
.edu{
    background-color: var(--main-red);
}
.cul{
    background-color: #0b0600;
}
.edu_cul_arrow{
    background-image: url(../img/download\ \(11\).svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    transition: 0.2s;
}
.edu_cul_wrap>li:hover .edu_cul_arrow{
    display: block;
    background-color: #000;
    background-image: url(../img/download\ \(10\).svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
.close{
    color: #999;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    right: 100px;
}

/* sec5 start */
.sec5{
    justify-content: space-between;
    height: auto;
}
.sec5>article{
    width: calc(100% - 490px);
    height: 100%;
    background-image: url(../img/ex-img1.jpg);
    position: relative;
}
.exhi_wrap{
    width: 470px;
    height: 100%;
    background-color: #0A2365;
    background-image: url(../img/download\ \(8\).svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top: 135px;
}
.exhi_wrap h6{
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 23.6px;
    font-size: 20px;
}
.exhi_wrap h4{
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    margin-top: 13px;
}
.exhi_list{
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}
.exhi_list>li{
    width: 370px;
    height: 120px;
}
.exhi_img{
    display: none;
}
.exhi_floor{
    align-items: center;
}
.floor{ 
    width: 46px;
    height: 46px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 46px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.floor_name{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.22px;
    margin-left: 15px;
}
.exhi_list .floor_info{
    font-size: 15px;
    font-weight: 400;
    line-height: 146%;
    margin-top: 11px;
    color: #fff;
}
.line{
    position: absolute;
    width: calc(100% - 169px);
    align-items: center;
    justify-content: space-between;
    right: 69px;
    top: 49%;
}
.line>div{
    width:calc(100% - 110px) ;
    height: 2px;
    background-color: #fff;
}
.line>span{
    display: block;
    width: 82px;
    height: 82px;
    background-image: url(../img/download\ \(12\).svg);
    background-size: cover;
    transition: 0.5s;
}
.line>span:hover{
    transform: rotate(90deg);
}
.thum_box{
    position: relative;
}
.thum_box>a{
    display: flex;
    width: 470px;
    height: 100%;
    align-items: flex-end;
    background-image: url(../img/etc-img.jpg);
    background-size: cover;
    background-position: center center;
    transition: 0.3s;
}
.thum_box>a>div{
    width: 100%;
    height: 260px;
    padding: 71px 24px 0 58px;
    background-color: #000;
}
.thum_box>a:hover{
    background-size: 110% auto;
}
.thum_box>a>div>h4{
    font-size: 36px;
    font-weight: 700;
    color: #fff
}
.thum_box>a>div>p{
    font-size: 15px;
    color: #fff;
    letter-spacing: -.03px;
    margin-top: 30px;
}
.thum_box>a>div>h4>span{
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url(../img/download\ \(12\).svg);
    background-size: cover;
    transition: 0.3s;
    position: absolute;
    right: 52px;
}
.thum_box>a:hover h4>span{
    transform: rotate(90deg);
}
/* sec6 start */
.sec6{
    padding: 150px 0 128px;
}
.review_wrap{
    justify-content: space-between;
    align-items: center;
    position: relative;
    vertical-align: middle;
}
.review_wrap::after{
    display: block;
    content: '';
    width: 1920px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    right: 0;
    bottom: 0;
}
.review_wrap>h2{
    font-size: 45px;
    font-weight: 800;
    position: relative;
    line-height: 114px;
}
.review_wrap>h2::after{
    display: block;
    content: '';
    width: 129px;
    height: 2px;
    background-color: var(--main-red);
    position: absolute;
    bottom: 0;
    z-index: 55;
}
.rev_count{
    height: 85px;
    align-items: center;
}
.review_wrap>div span{
    font-size: 85px;
    font-weight: 800;
    color: #002078;
}
.review_wrap>div p{
    font-size: 27px;
    font-weight: 600;
    margin-left: 8px;
    color: #666;
    line-height: 114px;
}
.rev_txt{
    position: relative;
    padding: 70px 0;
}
.rev_txt>figure{
    width: 25%;
    padding: 0 28px;
    text-align: center;
}
.rev_txt>figure img{
    height: 162px;
}
figcaption{
    text-align: left;
    margin-top: 20px;
}
.rev_name{
    margin-top: 37px;
}
.rev_name>li{
    color: #0A2363;
    font-size: 14px;
    letter-spacing: -0.28px;
}
.rev_name>li:last-child{
    color: #999;
}
.rev_name>li:first-child::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 0 10px;
}
.rev_txt::before,.rev_txt::after{
    display: block;
    content: '';
    background-repeat: no-repeat;
    width: 20px;
    height: 35px;
    position: absolute;
    top: 30%;
}
.rev_txt::before{
    background-image: url(../img/arorww.svg);
    left: -25px;
}
.rev_txt::after{
    background-image: url(../img/arroww.svg);
    right: -25px;
}

figcaption>h3{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #000;
    margin-bottom: 12px;
}
figcaption>p{
    color: #000;
    font-size: 15px;
    letter-spacing: -0.3px;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* footer start */
footer{
    background-color: #111;
    padding: 38px 0;    
}
.f_top{
    justify-content: space-between;
    align-items: center;
}
.f_menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.f_menu a>b{
    color: #FFCB13;
    font-size: 18px;
    font-weight: 500;
}
.f_menu>li+li::before{
    display: inline-block;
    content: '';
    width: 1px;
    height: 13px;
    background-color: #fff;
    opacity: 0.5;
    margin: 0 15px;
}
.sns_wrap>li>a{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../img/ir-tmpl.png);
    margin-left: 7px;
}
.fb{
    background-position: -1px -233px;
}
.in{
    background-position: -208px -233px;
}
.bl{
    background-position: -105px -233px;
}
.yt{
    background-position: -156px -233px;
}
.f_bot{
    justify-content: space-between;
    padding-top: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.tel{
    padding-left: 33px;
}
.family_site_wrap{
    padding-top: 20px;
    align-items: center;
    gap: 5px;
}
.family_site_wrap select{
    width: 200px; height: 40px;
    background: none;
    background-color: #0B0600;
    color: #fff;
    padding: 10px 30px 10px 20px;
    outline: none;
    appearance: none;
    background-image: url(../img/download\ \(13\).svg);
    background-repeat: no-repeat;
    background-position: 175px 16px;
}
.family_site_wrap select option{
    background-color: #0B0600;
}


@media screen and (max-width : 1440px) {
    .information{
        justify-content: space-between;
    }
    .information li{
        padding: 0 15px;
    }
    .sec2{
        padding: 124px 60px;
    }
    .sec2 .notice>h2{
        font-size: 36px;
        letter-spacing: -2px;
    }
    .sec2 .noti_list li{
        font-size: 20px;
    }
    .noti_txt{
        height: auto;
        gap: 0;
        flex-direction: column;
        padding-top: 20px;
    }
    .noti_txt li{
        /* flex: 1; */
        border-top:1px solid #ccc ;
        padding: 15px 0;
        /* margin: 15px 0; */
    }
    .noti_txt li:first-child{
        border-top: 0 ;
    }
    .noti_txt div{
        margin-top: 8px;
    }    
    .noti_txt p{
        display: none;
    }
    .noti_txt h3{
        font-size: 16px;
    }
    .service_wrap{
        margin-top: -150px;
    }
    .sec4{ 
        padding: 192px 90px ;
    }
    .sec5{
        flex-direction: column;
    }
    .sec5>article{
        width: 100%;
    }
    .thum_box>a{
        width: 100%;
    }
    .thum_box>a>div{
        width: 362px;
        height: 230px;
        padding: 62px 33px 0 49px;
        background-color: #000;
    }
    .thum_box>a>div>h4{
        font-size: 20px;
    }
    .thum_box>a>div>p{
        font-size: 15px;
    }
    .thum_box>a>div>h4>span{
        width: 20px;
        height: 20px;
        left: 300px;
    }
    footer{
        padding: 30px;
    }
}
@media screen and (max-width : 1280px) {
    nav{
        display: none;
    }
    .popup_wrap{
        width: 298px;
        height: auto;
    }
    .popup_wrap img{
        width: 298px;
    }
    .sec2>article{
        width: calc(100% - 60px - 298px);
    }
    .sec2 .notice{
        width: 100%;
        position: relative;
        padding: 0 0 25px;
    }
    .sec2 .noti_list{
        position: absolute;
        width: 100%;
    }
    .sec2 .noti_list .list_dots{
        position: absolute;
        top: 55px;
        width: 100%;
        padding: 13px;
        border-top: 3px solid #333;
        border-bottom: 1px solid #333;
    }
    .list_dots>li + li::before{
        display: none;
    }
    .list_dots>li{
        flex: 1;
        text-align: center;
        font-size: 18px;
    }
    .sec2 .noti_list .more_plus{
        position: absolute;
        top: 0;
        right: 0;
    }
    .noti_txt{
        border-top: none;
    }
    .popup_zone{
        display: none;
    }
    .service_wrap{
        margin-top: 0;
        width: 100%;
    }
    .service_wrap>h3{
        display: none;
    }
    .service_wrap>ul{
        width: 100%;
    }
    .sec4{
        padding: 0 90px;
    }
    .sec4>article{
        position: absolute;
        width: 100%;
    }
    .sec4>div{
        width: 350px;
        margin-top: 70px;
    }
    .edu_cul_wrap{
        padding-left: 350px;
    }
}

@media screen and (max-width : 1170px) {
    .information li:last-child{
        display: none;
    }
    .w_icon{
        display: none;
    }
}
@media screen and (max-width : 990px) {
    .information li:first-child>a{
        display: none;
    }
    .total_res>a>bdo{
        display: none;
    }
    .weather{
        position: absolute;
        right: 0;
        bottom: calc(100% - 50px);
        width: 100%;
        justify-content: center;
    }
    /* .sec4>div{
        display: none;
    } */
    .sec4>article{
        position: absolute;
    }
    .edu_cul_wrap{
        padding-left: 0;
    }
}
@media screen and (max-width : 740px) {
    .information li{
        font-size: 14px;
    }
    .w_icon{
        display: block;
    }
}
@media screen and (max-width : 720px) {
    .information>ul{
        display: none;
    }
    .total_res{
        width: 100%;
    }
    .total_res>a{
        width: 100%;
    }
    header{
        padding: 0 20px;
    }
    .search{
        border: 2px solid #000;
        border-radius: 100px;
        padding-left: 20px;
    }
    .search .search_btn{
        width: 50px; height: 50px;
    }
    .search_wrap{
        width: 360px;
        margin: 0 auto;
    }
    .sec2{
        padding: 60px 20px;
    }
    .sec2>article{
        order: 1;
        width: 100%;
    }
    .popup_wrap{
        order: 3;
        width: 100%;
    }
    .popup_wrap img{
        width: 100%;
    }
    .service_wrap{
        order: 2;
    }
    .sec4{
        padding: 0 20px;
    }
    .sec4 .notice{
        flex-direction: column;
        width: 100%;
    }
    .sec4 .noti_list{
        width: 100%;
    }
    .sec4 .list_dots{
        width: 100%;
        padding: 13px 0;
        border-top: 3px solid #333 ;
        border-bottom: 1px solid #333;
    }
    .sec4 .list_dots{
        flex: 1;
        text-align: center;
    }
    .exhi_wrap{
        width: 100%;
    }
    .line{
        display: none;
    }
    .exhi_img{
        display: block;
    }
    .exhi_list{
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
    .exhi_list>li{
        width: 33.33%;
        height: 120px;
    }
}
@media screen and (max-width : 360px) {


}